<div class="register container col-6">
    <h1 class="text-center" style="color: white;">Zarejestruj się</h1>
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Nazwa użytkownika:</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Wpisz nazwę użytkownika"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Hasło:</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Wpisz hasło"
              name="password">
          </div>
          <div class="form-group">
            <label for="pwd">Powtórz hasło:</label>
            <input type="password" class="form-control" [(ngModel)]="secondPassword" id="secondPassword" placeholder="Wpisz hasło"
              name="password">
          </div>
          <button (click)=handleRegistration() routerLink="/login" class="btn btn-success">Zarejestruj się</button>
        </form>
      </div>
    </div>
  </div>