<nav class="row top-buffer-20px navbar navbar-expand bg-primary navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/home">JohnnyBurger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kontakt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">O nas</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a *ngIf="userName" class="nav-link" routerLink="/home">{{userName}}</a>
    </li>
    <li class="nav-item">
      <img *ngIf="userName" class="shopping-cart" src="../../assets/shopping-cart.png" routerLink="/shopping-cart">
    </li>
    <li class="nav-item">
      <div *ngIf="userName; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock> 
        <button class="btn btn-success" (click)="handleLogout()" routerLink="/">Wyloguj się</button>
      </ng-template>
      <ng-template #elseBlock>
        <button class="btn btn-success" routerLink="/login">Zaloguj się</button>
      </ng-template>
    </li>
  </ul>
</nav>