<nav class="row top-buffer-20px navbar navbar-expand bg-primary navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/home">JohnnyBurger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kontakt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">O nas</a>
    </li>
    <li class="nav-item">
      <div *ngIf="userName && roles==='ROLE_ADMIN'" class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Edytuj
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/add-dish">Listę dań</a>
          <a class="dropdown-item" routerLink="/edit-contact-data">Dane kontaktowe</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
        <a *ngIf="userName && roles==='ROLE_STAFF'" class="nav-link" routerLink="/orders">Zamówienia</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a *ngIf="userName" class="nav-link" routerLink="/home">{{userName}}</a>
    </li>
    <li class="nav-item">
      <img *ngIf="userName  && roles==='ROLE_USER'" class="shopping-cart" src="../../assets/shopping-cart.png"
        routerLink="/shopping-cart">
    </li>
    <li class="nav-item">
      <div *ngIf="userName; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <button class="btn btn-success" (click)="handleLogout()" routerLink="/home">Wyloguj się</button>
      </ng-template>
      <ng-template #elseBlock>
        <button class="btn btn-success" routerLink="/login">Zaloguj się</button>
      </ng-template>
    </li>
  </ul>
</nav>