<div class="top-buffer-5px" id="pagination">
    <nav>
        <ul class="pagination justify-content-center">
            <li *ngIf="localPageIndex!=1"><a (click)="previousPage()" class="page-link" href="#">&laquo;</a></li>
            <li *ngFor="let page of pages" (click)="showPage(page+1)" class="page-item"><a class="page-link" href="#">{{page+1}}</a></li>
            <li *ngIf="localPageIndex!=(pages[pages.length-1]+1)" (click)="nextPage()" class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>