<div class="container" id="edit-dish-list">
    <app-navbar></app-navbar>
    <div class="row top-buffer-20px">
        <form class="col-sm-6 rounded bottom-buffer-10px" style="background-color: white; padding: 20px 20px 20px 20px;">
            <h4>Dodaj danie</h4>
            <div class="form-group">
                <label for="email">Nazwa:</label>
                <input type="text" class="form-control" [(ngModel)]="addName" name="addName">
            </div>
            <div class="form-group">
                <label for="comment">Opis:</label>
                <textarea class="form-control" [(ngModel)]="description" name="description" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="email">Cena:</label>
                <input type="text" class="form-control" [(ngModel)]="price" name="price">
            </div>
            <div class="form-group">
                <label for="sel1">Kategoria:</label>
                <select class="form-control" [(ngModel)]="category" name="category">
                    <option *ngFor="let category of categories">{{category.name}}</option>
                </select>
            </div>
            <button (click)="addDish()" class="btn btn-success">Wyślij</button>
        </form>
        <form class="col-sm-5 offset-1 rounded bottom-buffer-10px" style="background-color: white; padding: 20px 20px 20px 20px;">
            <h4>Usuń danie</h4>
            <div class="form-group">
                <label for="email">Nazwa:</label>
                <input type="text" class="form-control" [(ngModel)]="deleteName" name="deleteName">
            </div>
            <button (click)="deleteDish()" class="btn btn-danger">Wyślij</button>
        </form>
    </div>
</div>