<div class="container" id="add-dish">
    <app-navbar></app-navbar>
    <form>
        <div class="form-group">
            <label for="email">Nazwa:</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Opis:</label>
            <input type="text" class="form-control" [(ngModel)]="description" name="description">
        </div>
        <div class="form-group">
            <label for="email">Cena:</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name">
        </div>
        <button (click)="send()" class="btn btn-success">Wyślij</button>
    </form>
</div>