<div id="shopping-cart-list" class="top-buffer-20px table-striped table-reponsive rounded" style="background-color: white; padding: 20px 20px 20px 20px;">
    <h2>Twoje zamówienie</h2>
    <table mdbTable class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderItem of shoppingCart.getOrder()" app-shopping-cart-item [orderItem]="orderItem">
            </tr>
        </tbody>
    </table>
</div>