<div class="top-buffer-20px table-hover table-reponsive">
    <h2>Zamówienia</h2>
    <table mdbTable class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Zamawiający</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
             <ng-container *ngFor="let order of orders">
                <tr role="button" data-toggle="collapse" (endOrderEvent)="getActiveOrders()" [attr.data-target]="'#d'+order.id" app-order-list-item [order]="order"></tr>
                <tr class="collapse" [id]="'d'+order.id" app-order-dish-list [order]="order"></tr> 
             </ng-container>
        </tbody>
    </table>
</div>